<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp Project</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">YelpCamp</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <% if(!currentUser){ %>
                            <li>
                                <a href="#">
                                <div>
                                    <form class="form-inline" action="/campgrounds" method="GET">
                                        <div class="form-group">
                                            <input type="text" name="search" placeholder="Search Camps" class="form-control">
                                            <input type="submit" class="btn btn-default" value="Search">
                                        </div>
                                    </form>
                                </div>
                                </a>
                            </li>
                            <li><a style="padding-top: 20px;" href="/login">Login</a></li>
                            <li><a style="padding-top: 20px;" href="/register">Signup</a></li>
                            <% }else{ %>
                                <li>
                                    <a href="#">
                                    <div>
                                        <form class="form-inline" action="/campgrounds" method="GET">
                                            <div class="form-group">
                                                <input type="text" name="search" placeholder="Search Camps" class="form-control">
                                                <input type="submit" class="btn btn-default" value="Search">
                                            </div>
                                        </form>
                                    </div>
                                    </a>
                                </li>
                            <li><a style="padding-top: 20px;" href="#"><%= currentUser.username %></a></li>
                            <li><a style="padding-top: 20px;" href="/logout">Logout</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        <div class="container">
            <% if(error && error.length>0){ %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length>0){ %>
            <div class="alert alert-success">
                <%= success %>
            </div>
            <% } %>
        </div>